torchvision==0.3.0
Keras==2.1.0
pip==8.1.1
scipy==1.3.1
torch==1.1.0
tqdm==4.32.2
statsmodels==0.10.1
tensorflow_gpu==2.7.2
scikit_image==0.15.0
matplotlib==3.0.1
h5py==2.10.0
numpy==1.17.2
imgaug==0.3.0
ipython==7.9.0
pycocotools==2.0.0
scikit_learn==0.21.3
Shapely==1.6.4.post2
skimage==0.0
tensorflow==2.0.3
